{
  "extends": ["airbnb/base"],
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "destructuring": true,
    "spread": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "no-console": 0,
    "func-names": 0
  }
}